@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

/* 擴充全域字體 */
@layer base {
  html {
    font-family: 'Noto Serif TC', 'Noto Sans TC', system-ui, sans-serif;
  }
}

/* 擴充自定元件 */
@layer components {
  .btn {
    @apply rounded-md bg-primary-300 px-4 py-2 text-center font-bold text-white transition-all duration-200 hover:bg-primary-600 focus:ring-2 focus:ring-primary-200 focus:ring-offset-2 focus:ring-offset-primary-200 disabled:bg-primary-200;
  }
  .btn-active {
    @apply rounded-md bg-primary-300 px-4 py-2 text-center font-bold text-white transition-all duration-200 hover:bg-primary-600 focus:ring-2 focus:ring-primary-200 focus:ring-offset-2 focus:ring-offset-primary-200 disabled:bg-primary-200 [&.active]:bg-primary-900 [&.active]:ring-2 [&.active]:ring-primary-300 [&.active]:ring-offset-2 [&.active]:ring-offset-primary-300;
  }
  .btn-outline {
    @apply rounded-md border border-primary-500 px-4 py-2 text-center font-bold text-primary-500 transition-all duration-200 hover:bg-primary-700 hover:text-white focus:ring-2 focus:ring-primary-200 focus:ring-offset-2 focus:ring-offset-primary-200 disabled:bg-primary-200;
  }
  .btn-outline-cancel {
    @apply rounded-md border border-primary-500 bg-primary-500 px-4 py-2 text-center font-bold text-white transition-all duration-200 hover:bg-white hover:text-primary-500 focus:ring-2 focus:ring-primary-200 focus:ring-offset-2 focus:ring-offset-primary-200 disabled:bg-primary-200;
  }
  .btn-outline-active {
    @apply rounded-md border border-primary-500 px-4 py-2 text-center font-bold text-white transition-all duration-200 hover:bg-primary-700 disabled:bg-primary-200 [&.active]:bg-primary-700;
  }
}

@layer utilities {
  .hero-intro::after {
    @apply absolute inset-0 -right-[120px] -z-10 mx-auto my-auto h-[345px] w-[450px] rounded-[80px] border border-[#F5F7F9] bg-gradient-to-b from-transparent to-white/30 backdrop-blur-sm;
    content: '';
  }
  .news-intro::before {
    @apply absolute -right-[80px] top-[40px] h-48 w-48;
    content: '';
    background-image: url('/images/deco-dot-group.svg');
  }
  .news-intro::after {
    @apply absolute -bottom-20 -left-20 h-48 w-48;
    content: '';
    background-image: url('/images/deco-dot-group.svg');
  }
  .room-intro::before {
    @apply absolute -right-20 -top-6 z-10 h-[84px] w-[375px] bg-no-repeat;
    content: '';
    background-image: url('/images/deco-line-group-horizontal-sm.svg');

    @screen md {
      @apply -top-[140px] left-[430px] right-auto h-[187px] w-[1060px];
      background-image: url('/images/deco-line-group-horizontal.svg');
    }

    @screen lg {
      @apply -top-[120px] left-[430px];
    }

    @screen xl {
      @apply left-[650px] top-0;
    }

    @screen 2xl {
      @apply right-0 top-0;
    }
  }
  .room-intro::after {
    @apply absolute bottom-[265px] right-0 -z-20 h-[132px] w-[375px] bg-no-repeat;
    content: '';
    background-image: url('/images/deco-wave-bg-sm.svg');

    @screen md {
      @apply -left-[280px] bottom-0 right-auto h-[86%] w-[1920px];
      background-image: url('/images/deco-wave-bg.svg');
    }

    @screen lg {
      @apply h-[80%];
    }

    @screen xl {
      @apply -left-[100px] h-[62.5%];
    }

    @screen 2xl {
      @apply bottom-0 left-0 h-[677px];
    }
  }

  .delicacy-intro::before {
    @apply absolute -top-[50px] right-0 z-10 h-48 w-48;
    content: '';
    background-image: url('/images/deco-dot-group.svg');
  }
  .delicacy-intro::after {
    @apply absolute -left-[150px] top-10 z-10 h-[1060px] w-[187px];
    content: '';
    background-image: url('/images/deco-line-group-vertical.svg');
  }
  .transport-intro::after {
    @apply absolute bottom-0 left-[0px] z-10 h-[187px] w-[1060px];
    content: '';
    background-image: url('/images/deco-line-group-horizontal.svg');
  }
  .room-title-deco::before {
    @apply absolute left-0 top-1 inline-block h-6 w-1 rounded-lg bg-primary-300;
    content: '';
  }
  .room-title-deco-sm::before {
    @apply absolute left-0 top-1 inline-block h-4 w-1 rounded-lg bg-primary-300;
    content: '';
  }
  .signup-info::before {
    @apply absolute left-0 top-10 -z-10 h-[187px] w-[1060px];
    content: '';
    background-image: url('/images/deco-line-group-horizontal.svg');
  }
}
